name: Deploy Self Hosted NGINX Runner

on:
  workflow_dispatch:

jobs:
  test-self-hosted-runner-nginx:
    name: Verify github-runner-nginx
    runs-on: [self-hosted, github-runner-nginx]
    steps:
      - name: Check hostname
        run: |
          echo "Runner name: github-runner-nginx-proxy"
          echo "Hostname: $(hostname)"
          echo "Private IP: $(hostname -I | awk '{print $1}')"
      
      - name: Install Nginx
        run: |
          sudo apt update
          sudo apt upgrade -y
          sudo apt install -y nginx
      
      - name: Verify Nginx installation
        run: |
          nginx -v
          sudo systemctl status nginx --no-pager

#      - name: Configure Nginx reverse proxy
#        run: |
#            sudo tee /etc/nginx/sites-available/nodejs-app > /dev/null <<'EOF'
#            upstream nodejs_backend {
#              server 10.0.1.178:3000;   # github-runner-2
#              server 10.0.10.61:3000;   # github-runner-3
#              }

#            server {
#              listen 80;
#              server_name _;

#              location / {
#              proxy_pass http://nodejs_backend;
#              proxy_http_version 1.1;
#              proxy_set_header Upgrade $http_upgrade;
#              proxy_set_header Connection 'upgrade';
#              proxy_set_header Host $host;
#              proxy_cache_bypass $http_upgrade;
#              proxy_set_header X-Real-IP $remote_addr;
#              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#              }
#             }
#            EOF
    
#            sudo ln -sf /etc/nginx/sites-available/nodejs-app /etc/nginx/sites-enabled/
#            sudo nginx -t
#            sudo systemctl reload nginx