name: Test Self Hosted Runners

on:
  workflow_dispatch:

jobs:
  test-self-hosted-runner-2:
    name: Verify github-runner-2
    runs-on: [self-hosted, github-runner-2]
    steps:
      - name: Check hostname
        run: |
            echo "Runner name: github-runner-2"
            echo "Hostname: $(hostname)"
            echo "Private IP: $(hostname -I | awk '{print $1}')"

      - name: Install Node.js
        run: |
          # Install Node.js using NodeSource repository
          curl -fsSL https://deb.nodesource.com/setup_lts.sh | sudo -E bash -
          sudo apt-get install -y nodejs npm

      - name: Verify Node.js installation
        run: |
          node --version
          npm --version

  test-self-hosted-runner-3:
    name: Verify github-runner-3
    runs-on: [self-hosted, github-runner-3]
    steps:
      - name: Check hostname
        run: |
            echo "Runner name: github-runner-3"
            echo "Hostname: $(hostname)"
            echo "Private IP: $(hostname -I | awk '{print $1}')"

      - name: Install Node.js
        run: |
          # Install Node.js using NodeSource repository
          curl -fsSL https://deb.nodesource.com/setup_lts.sh | sudo -E bash -
          sudo apt-get install -y nodejs npm

      - name: Verify Node.js installation
        run: |
          node --version
          npm --version
 