name: Test Self Hosted Runners

on:
    push:
        branches:
            - main

jobs:
    test-self-hosted-runner-2:
        name: Verify github-runner-2
        runs-on: [self-hosted, github-runner-2]
        steps:
            - name: Check hostname
            run: |
                echo "Runner name: github-runner-2"
                echo "Hostname: $(hostname)"
                echo "Private IP: $(hostname -I | awk '{print $1}')"
                echo "All network info"
                ip addr show
    
    test-self-hosted-runner-3:
        name: Verify github-runner-3
        runs-on: [self-hosted, github-runner-3]
        steps:
            - name: Check hostname
            run: |
                echo "Runner name: github-runner-3"
                echo "Hostname: $(hostname)"
                echo "Private IP: $(hostname -I | awk '{print $1}')"
                echo "All network info:"
                ip addr show

